h2{
    margin: 15px 0 0 0;
}

.profile-view{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #edf2fd  ;
}

.profile-wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.card{
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 30px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.personal-details-component{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.bottom{
    width: 100%;
    padding: 0 14% 0 15%;
}

.introductionField{
    width: 700px;
    height: auto;
    padding: 20px 0 20px 150px !important;
    margin-left: 15% !important;
    align-items: flex-start;
}

.profile-picture{
    background-color: white;
    position: absolute;
    left: 15%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.introductionLayout vaadin-text-field::part(input-field){
    width: 600px;
}

vaadin-text-field[readonly]::part(input-field) {
    border: none !important;
    outline: none !important;
    font-size: 1.25rem;
    font-weight: 500;
    width: 500px;
    padding: 0px;
    margin: 0px;
}

vaadin-text-field[readonly]::part(input-field)::after {
    border: none !important;
    outline: none !important;
}

vaadin-text-field[readonly]::part(input-field)::after {
    border: none !important;
    outline: none !important;
}

vaadin-text-field[readonly].first-name-and-last-name::part(input-field){
    font-size: 2.5rem;
    font-weight:bold !important;

}

.introductionLayout vaadin-text-area::part(input-field) {
     width: 600px;
     border-radius: 20px;
     border: 1px solid #1a73e8;
     background-color: transparent;

 }

.introductionLayout vaadin-text-area[readonly]::part(input-field) {
    border: none !important;
    outline: none !important;}

.tobButtons{
    background-color: transparent !important;
    position: relative;
}

.edit-profile-pic-button{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: blue;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
}

/*Edit Profile */
.editSaveButton{
    margin: 30px 30px 0 0;
    background-color: transparent;
    border: 1px solid #1a73e8;
    color: #1a73e8;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}
.editSaveButton:hover{
    background-color: #1a73e8;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    cursor: pointer;
}

/* Bottom Layout */

.profile-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left{
    margin: 0;
    width: 40% !important;
}

/*----------------- About*----------------------*/

.about-Icon{
    width: 25px;
    height: 25px;
}


.email-layout vaadin-email-field::part(input-field) {
    width: 260px;
    background-color: transparent !important;
    border: 1px solid #1a73e8;
    border-radius: 15px;
}

vaadin-email-field[readonly]::part(input-field) {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}

.phone-number-layout vaadin-text-field::part(input-field) {
    width: 260px;
    background-color: transparent !important;
    border: 1px solid #1a73e8;
    border-radius: 15px;
    height: 40px;
}

vaadin-email-field[readonly]::part(input-field) {
    width: 260px;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;

}
vaadin-email-field[invalid]::part(input-field)::after {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}
.about-Icon{
    margin-top: 10px;
}


/*----------------- Kenntnisse*----------------------*/
.add-skills-area vaadin-text-field::part(input-field){
    height: 40px;
    width: 200px;
}

.add-skills-area vaadin-button{
    margin-top: 13px;
    background-color: transparent;
    border: 1px solid #1a73e8;
    color: #1a73e8;
    border-radius: 20px;
    width: 60px;
    height: 40px;
}

.add-skills-area vaadin-button:hover{
    background-color: #1a73e8;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    cursor: pointer;
}

.display-Skill vaadin-text-field::part(input-field){
    height: 40px;
    width: fit-content;
}

.Skill vaadin-button{

    background-color: transparent;
    border: none;
    color: #1a73e8;
    border-radius: 20px;

}

/*----------------- Sprache*----------------------*/

vaadin-combo-box-overlay::part(overlay){
border-radius: 20px;
}

vaadin-combo-box::part(input-field){
    border-radius: 20px !important;
    background-color: #F44336;
}


.language-Capsul vaadin-button{
    background-color: transparent;
    border: none;
    color: #1a73e8;
    border-radius: 20px;
}
.language-Capsul-Text{
    margin-left: 10px;
    margin-right: 15px;
    color: #1a73e8;

}
.language-Capsul-Div{
    border-radius: 50px;
    border: 2px solid #dbe7ff;
    display: flex;
    margin-bottom: 5px;
}
.language-Capsul-Text-Level{
    font-size: medium;
    font-weight: 400;
}
.language-Capsul-Layout-Left-Div{
background-color: #dbe7ff;
    min-width: 60px;
    border-radius: 50px;

}

.language-Capsul-Layout-Level-Div{
    margin-right: 15px;
    margin-left: 10px;

}
.add-skills-area{
    padding-left: 0;
}
/***************** Unternehmen *******************/
.about-ansprechpartner-adressen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.bottom-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.about-company{
    position: relative;
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

/*Stellenanzeigen*/
.noStellenanzeige{
    margin-left: 0;
    width: 600px !important;
}

.stellenanzeige{
    width: 70% !important;

}

.add-Taetigkeit-Field{
    width: 100%;
}
.editAndDeleteStellenanzeigeArea{
    width: 100%;
}

.stellenanzeigenLayout{
    margin-left: 0 !important;
}

:host([theme~="reverse"]) [part="toggle"] {
    margin-left: 15px !important;
}
.stellenanzeigeInfoLeft vaadin-details-summary{
    color: #1a73e8;
}

.about-ansprechpartner-adressen{
    width: 75% !important;
}
.ansprechpartner-adressen{
    width: 100% !important;
}
.edit-adresse-layout{
    max-width: 700px !important;
    display: flex;
    flex-direction: column;


}




