body{

}

#login-form{
    margin: 80px 10% 45px 70px;
}

vaadin-login-form-wrapper{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    height: 500px;
    max-width: 400px;


}

form{
    width: 100%;
    height: 100%;
}

vaadin-login-form-wrapper::part(form-title) {
    color:#0455bf;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 30px 0;
}


vaadin-text-field::part(input-field),
vaadin-password-field::part(input-field) {
    background-color: transparent;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #1a73e8;
    margin-top: 8px;
}

#vaadinLoginUsername{
    margin: 0 0 5px 0;
}

vaadin-button[part="vaadin-login-submit"] {
    cursor: pointer;
    height: 55px;
    border-radius: 20px;
    margin-top: 30px !important;
}
