




#header-neutral img{
    width: 140px;
    height: 50px;
    margin: 25px 25px 25px 70px;
    cursor: pointer;

}

#header-neutral{
    background-color: transparent !important;
    border-bottom: 1px solid #e0e0e0;
    height: 30% !important;;
    width: 100% !important;

}
vaadin-app-layout::part(navbar) {

}

#top-right-layout{
    padding: 20px 50px 20px 25px;

}

#login-tab{
    background-color: transparent;
    height: 50px !important;
    font-size: 1.25rem;
    font-weight: 500;
}

#login-tab:hover{
    cursor: pointer;
    color: var(--main-color);

}

#sign-up-tab{
    background-color: transparent;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 500;
}


#sign-up-button{
    background-color: #1a73e8;

    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #1a73e8;
    height: 45px;

}

#sign-up-button:hover{
    cursor: pointer;
}

vaadin-menu-bar-button {
    background-color: transparent;
    color: #1a73e8;
    font-size: 1.15rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #1a73e8;
    height: 45px;
}

