




#header-neutral img{
    width: 140px;
    height: 50px;
    margin: 25px 25px 25px 70px;
    cursor: pointer;

}

#header-neutral{
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    height: 30% !important;;
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
vaadin-app-layout::part(navbar) {

}

#top-right-layout{
    padding: 20px 50px 20px 25px;

}

#login-tab{
    background-color: transparent;
    height: 50px !important;
    font-size: 1.25rem;
    font-weight: 500;
}

#login-tab:hover{
    cursor: pointer;
    color: #1a73e8;

}

#sign-up-tab{
    background-color: transparent;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 500;
}


#sign-up-button{
    background-color: #1a73e8;
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #1a73e8;
    height: 45px;

}

#sign-up-button:hover{

    box-shadow: 0 4px 10px 0 rgba(65, 132, 234, 0.75);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    cursor: pointer;
    cursor: pointer;
}

vaadin-menu-bar-button {
    background-color: transparent;
    color: #1a73e8;
    font-size: 1.15rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #1a73e8;
    height: 45px;
}

.iconProfile{
    margin: 15px !important;
}

#student-srofil-tab a label{
    cursor: pointer;
    color: #1e1e1e;
    font-weight: 400;
}

#student-srofil-tab a label:hover{
    color: #1a73e8;
}

.logout-button{
    width: 180px;
    background-color: transparent;
    color: #1e1e1e;
    font-size: 1.05rem;
    font-weight: 400;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    height: 45px;
}

.logout-button:hover{
    cursor: pointer;
    background: transparent;
    color: #1a73e8;
}

.logout-button::after{
    background: transparent;
}
.logout-button::before{
    background: transparent;
}

.iconLogout{
    margin: 15px !important;
}

