.bewerbenButton{
    cursor: pointer;
    height: 55px;
    width: 15rem;
    border-radius: 20px;
    margin-top: 30px !important;
}

.search-component{
    width:80% !important;
}
.headCardLayout{
    margin-left: 50px !important;
}