#main-view{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;

}

#search-layout{
  margin-left: 5%;
  margin-top: 200px;
}

#search-button{
    background-color: #1a73e8;

    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #1a73e8;
    height: 71px;
    width: 150px;
    line-height: 20px;
    cursor: pointer;
}


.search-field::part(input-field){
    border-radius: 40px;
  border: 3px solid #1a73e8;
  border-right: none;
    width: 650px;
  height: 70px;
  padding: 0 0 0 20px;
    font-size: 1.25rem;
}

/***************+**** Company Main ******************/