.createStellenanzeigeView{
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}